<div id="<%= dom_id bird %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bird.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Node:</strong>
    <%= bird.node_id %>
  </p>

</div>
